body {
    background-image: url("first1.jpg");
    background-repeat: no-repeat;
}

h1 {
   text-align: center;
   font-style: normal;
   color:white;
}

#htmlButton {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
#htmlButton:hover {
    background-color: orange;
    color: white;
    border: 2px solid orange;
    border-color: orange; 
    border-radius: 5px;
}

#cssButton {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

#cssButton:hover {
    background-color: orange;
    color: white;
    border: 2px solid orange;
    border-color: orange; 
    border-radius: 5px;
}

#cleancodeButton {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

#cleancodeButton:hover {
    background-color: orange;
    color: white;
    border: 2px solid orange;
    border-color: orange; 
    border-radius: 5px;
}