button {
    width: 250px;
    height: 180px;
    font-size: 30px;
    font-weight: bold;
    margin-left:170px; 
    border-radius: 12px;
    padding: 10px 24px;
    text-align: center;
    margin-top:150px;
}

body {
    background-image: url("first1.jpg");
    background-repeat: no-repeat;
}

h1 {
   text-align: center;
   font-style: normal;
   color :white;
   padding-top: 100px;
}
/*Title of homepage, add id="homeHeader" in HTML */
#homeHeader {
    font-size: 60px;
}

#htmlButton {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}
#htmlButton:hover {
    background-color: orange;
    color: white;
    border: 2px solid orange;
    border-color: orange; 

}

#cssButton {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}

#cssButton:hover {
    background-color: orange;
    color: white;
    border: 2px solid orange;
    border-color: orange; 
}

#cleancodeButton {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#cleancodeButton:hover {
    background-color: orange;
    color: white;
    border: 2px solid orange;
    border-color: orange; 
}

